.titulo {
    display         : flex;
    background-color: cornflowerblue;
    height          : 25px;
    flex-direction  : row;
    padding         : 10px;
}

.titulo .logo {
    width: 15vw,

}

.titulo .descripcion {
    width     : 75vw;
    text-align: center;
}

.titulo .menu-derecha {
    width: 10vw;
    text-align: center;
}

article{
    display: flex;
    flex-direction: row;
    width: 100vw;
   align-items: center;
   justify-content: center;
}

.tablaIngreso{
    border: black solid 1px;
}

.tablaIngreso tbody td{
    padding-left: 15px;
    padding-right: 15px;
}